@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  
   font-family: 'Roboto', sans-serif;
   
}

.container-fluid {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
header{
    height: 90vh;
    width: 100vw;
    margin: 0%; 
    padding: 0%;
    background-image: url("../images/gros-plan-trucs-organisation-benevoles-pour-don.jpg");
    background-size: 95em ;
    position: relative;
}
.Nav-Top{
    background-color:lightgray;
    height: 4em;
    font-size:0.8em;
}
/*Gestion du Nav*/
.Nav-Top li a {
    font-size: calc(1.5vw - 5px);
    text-decoration: none;
    list-style: none;
    color:black;
}
/*NavTopSlo*/
.Nav-Top .NavTopSlo {
    font-size: calc(1.5em  - 2px);
}
.logo {
    width: 8em;
height: 5em;
}
.LogoWrapper{
    margin-left: 2em;
    height: 5em;
}

.LogoWrapper {
    height: 9vh;
    width: 6vw;
    background-color:white;
    border-radius: 50%;
}
.Nav-Top li a i{
    font-size: calc(2.6vh - 2px);
}

.SocialMediaButtons li a {
    margin: calc(0.5em + 2px);
  
}
.Nav-Bot{
    background-color:white;
    height: 6em;
}

.Nav-Bot li {
    font-size: calc(2.6vh - 2px);
    margin: 0.5em;
    font-weight:bold;
    padding: 0.3em;
}

.SloganCent{
    position:absolute;
    top:38%;
    transform: translateX(60%);
    color:black;
    background-color: rgba(0, 255, 42, 0.4);
    height: calc(33vh - 12px);
    width: calc(46vw + 15px);
    padding: 1em;
}
.SloganCentTitle{
    font-size: 5vw;
    color:whitesmoke;
    font-weight: 800;
}
.SloganCentSlog{
    font-size: 2vw;
    color:black;
    font-weight: 700;
}

/*Gestion des buttons*/
.DonateButton{
    background-color: rgba(0, 255, 42, 0.3);
    padding: 0.5em;
}
/*breakpoint : 418 MOBILE*/
.HomeButton .btn {
    margin: 2em;
    width: calc(10vw + 55px);
    font-size: calc(1em - 2px);
}
.HomeButton i {
    margin: 0.4vw;
}
.BorderSep{
    border: dotted greenyellow 2px;
    width:15vw;
    margin: 1em;
}

/*PresentationSect*/
.PresentationSect {
    padding: 3em;
    position: relative;
}

/*PresentatSect*/
.PresentationSectTitl {
    font-size: 4.5vh;
}


.ImgHomePresent{
   
    height: calc(45vh - 10px);
    width: calc(35vw - 10px);
    object-fit: contain;
    z-index: 1000;
}/*bp 670*/
.SendGiftWrapper{
    height: calc(78vh - 30px);
    margin: 3em;
    padding: 2em;
    background-color:rgba(161, 161, 161, 0.2);
}
.SendGiftWrapperItems img {
    height: calc(16vh + 4px);
    width: calc(10vw + 10px);
    margin: 2em;
}

.SendGiftWrapperItems div p{
    margin :1em;
    text-align: center;
    font-size: calc(2em - 15px);
}
.InterviewWrapper{
    position: relative;
    margin-top: 5em;
    padding: 2em;
}
.InterviewWrapper img {
    height: calc(45vh - 10px);
    width: calc(35vw - 10px);
    object-fit: contain;
    z-index: 1000;

}


.InterviewWrapperText {
    margin: 1em;
    padding: 1em;
}

/*EventsWrapperImg Gestion*/
.EventsWrapper{
    position: relative;
    margin-top: 5em;
    height: 70vh;
    margin-bottom: 5em;
}
.EventsWrapperImg{
    height: calc(45vh - 10px);
    width: calc(35vw - 10px);
    object-fit: contain;
    z-index: 1000;
}

.EventsWrapperText {
    margin: 1em;
    padding: 1em;
}


.btnInfo{
    background-color: greenyellow;
    
}
/*bp 619*/
.DonateWrapper {
    background-color: black;
    height: 60vh;
    position: relative;
}
.DonateWrapperBox{
    background-color: white;
    height: calc(55vh + 2em);
    padding: 0%;
    position: absolute;
    top: -7em;
    box-shadow: 2px 2px 10px lightslategray;
}
.DonateWrappertDon{
    background-color: lightgray;
    padding: 2em;
    height: calc(55vh  + 2em);
   
}
.DonateWrappertText {
    padding: 2em;
    overflow: scroll;
}

.DonateWrapperCont {
    font-size: calc(1.3em - 7px);
    
}
/*bp 661px */
.DonateWrapperTitle b{
    font-size: calc(3em - 20px);
}
.ButtonsPrices .btn {
    margin: 0.5em;
 
}
footer{
    background-color:rgba(161, 161, 161, 0.7);
    margin: 0%;
    padding: 0%;
}